@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.image-bg {
    width: 45%;
    background-image: url('../img/programming-background-concept.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.forms {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    user-select: none;
    padding: 10px;
}

h1 {
    font-size: 2.2em;
    font-weight: 400;
}

form {
    margin: 0 auto;
    max-width: 450px;
    text-align: left;
}

label {
    font-weight: 300;
    font-size: 0.8em;
    color: #696969;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #989ea333;
}

input::placeholder{
    color: #8888889c;
}

.input-erro {
    border: 2px solid red;
}

.erro-msg {
    color: red;
    font-size: 0.9em;
    font-weight: 300;
}

button {
    font-size: 1em;
    width: 100%;
    background-color: #6e2bdc;
    color: white;
    margin: 8px 0;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s linear;
}

button:hover {
    background-color: #5521a9;
}

.have-account {
    font-weight: 300;
    color: #494949;
    font-size: 0.9em;
}

.have-account a {
    text-decoration: none;
    color: #6e2bdc;
}

@media (max-width: 1000px) {
    .image-bg {
        display: none;
    }

    div.forms {
        width: 100%;
    }

    form {
        width: 900px;
    }

}

@media (max-width: 400px){
    form {
        width: 350px;
    }

    h1{
        font-size: 2em;
    }
}