@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.image-bg {
    width: 60%;
    background-image: url('../img/programming-background-concept.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.forms {
    width: 40%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

h1 {
    font-size: 3em;
}

form {
    margin: 0 auto;
    max-width: 450px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #6e2bdc;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    display: none;
}

@media (max-width: 1000px) {
    .image-bg {
        display: none;
    }

    div.forms {
        width: 100%;
    }

    form {
        width: 900px;
    }

}

@media (max-width: 400px){
    form {
        width: 350px;
    }

    h1{
        font-size: 2em;
    }
}